form {
    width: 320px;
}

form > div {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

input { 
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
}

textarea {
    border: 1px solid gray;
    border-radius: 3px;
    height: 100px;
}

.send_button {
    border: 1px solid #e1e5ea;
    margin-top: 20px;
    width: 100%;
    background-color: #e1e5ea;
    color: #000;
    height: 50px;
    border-radius: 4px;
}